ion-card {
    height: 100%;
}
ion-card img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: 200px; /* Puedes ajustar esta altura según tus necesidades */
  object-fit: cover; /* Mantiene las proporciones y recorta el exceso si es necesario */
}
@media (max-width: 600px) {
    ion-card-title {
      font-size: 16px;
    }
  
    ion-card-subtitle {
      font-size: 14px;
    }
  
    ion-card {
      margin: 10px;
    }
  }
  
  @media (min-width: 600px) {
    ion-card-title {
      font-size: 20px;
    }
  }