<app-menu [menu]="menu"></app-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>


<ion-content class="scrollable-content">

  <div class="welcome-section text-center">
    <h1>Bienvenido a Bike Master</h1>
    <p>Encuentra las mejores ofertas y productos de alta calidad</p>
  </div>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.pngmart.com/files/6/Bicycle-PNG-Background-Image.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://pngimg.com/uploads/bicycle/bicycle_PNG5354.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://png.pngtree.com/png-vector/20240822/ourmid/pngtree-black-electric-scooter-clipart-illustration-png-image_13587527.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://png.pngtree.com/png-vector/20240521/ourmid/pngtree-black-electric-scooter-with-seat-on-clipart-transparent-background-png-image_12496020.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
<div class="titulo-animado"> OFERTAS% </div>
<!--contenido-->
<ion-card>
    <ion-card-header>
      <ion-card-title>¿Por que elegir nuestros productos?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      En BikeMaster , ofrecemos bicicletas , scooters , accesorios y reparaciones de alta calidad 
      diseñados para brindarte la mejor experiencia de movilidad. 
      Nuestros productos de ultima generacion estan equipados con tecnologia de vanguardia. 
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title> Los mas vendidos</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <div class="product-slider">
        <div class="product-item">
          <img src="https://th.bing.com/th/id/R.f53d13a4767bab041a86ce5c22bf4725?rik=sPhLhYqqp8no%2fg&pid=ImgRaw&r=0" alt="producto-1">
          <p>Casco de Bicicleta - 35% de desc.</p>
        </div>
        <div class="product-item">
          <img src="https://th.bing.com/th/id/R.a73f5faaae3dec50051aace681395968?rik=lld65vYnH3l%2bUQ&pid=ImgRaw&r=0" alt="producto-2">
          <p>Rodillera de Seguridad - 25% de desc.</p>
        </div>
        <div class="product-item">
          <img src="https://th.bing.com/th/id/R.a1035c9bfdb98f6adf39caffcaf137aa?rik=tyuxGus%2bIFC2Xw&pid=ImgRaw&r=0" alt="producto-3">
          <p>Bomba de mano - 15% de desc.</p>
        </div>
        <div class="product-item">
          <img src="https://th.bing.com/th/id/R.9c1ee80956844814ca86cd2394a0d713?rik=Hph4v%2bx5%2fVWntw&riu=http%3a%2f%2fstore.climbingvenezuela.com%2fwp-content%2fuploads%2f2021%2f01%2fCVS-000000191_01.png&ehk=GRIh3XEHXUAwxH5T%2fKhFOuWCjnY8NZ%2fcqGMYaWB0PAY%3d&risl=&pid=ImgRaw&r=0" alt="producto-4">
          <p>Guantes para Bicicleta - 45% de desc.</p>
        </div>
      </div>
  </ion-card-content>
  <p class="carousel-text">Revisa nuestros productos</p>
  <div class="text-center">
    <a class="btn btn-primary">IR</a>
  </div>
</ion-card>

<div class="contact-section text-center"></div>
  <h2>Contáctanos</h2>
  <p>Correo: tienda.a.mi.tienda.com</p>
  <p>Teléfono: +123 123456</p>
</ion-content>

</div>
